ALGXS/__pycache__
apps/FandQ/__pycache__
apps/helps/__pycache__
apps/market/__pycache__
apps/PTJ/__pycache__
apps/PTJ/migrations
apps/__pycache__
apps/account/__pycache__
apps/account/migrations
apps/market/migrations
apps/tailwind/migrations
apps/tailwind/__pycache__
.idea
apps/helps/migrations
apps/FandQ/migrations
apps/log/migrations
media
apps/account/views/__pycache__
apps/market/views/__pycache__
ALGPackage/__pycache__
static
__pycache__
tmp
venv
database_config.json